<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpage</title>
</head>
<body>
    <h1 style="text-align: center;">Oxygendigitalshop</h1><br>
    <p style="font-size:20px;">OXYGEN, the digital shop is South India’s most reputed and highly rated retail chain for digital products.It has long standing associations with the leading brands of the digital world. Almost a decade ago, when the digital revolution swept across Kerala, Oxygen Digital Shop rode the crest of this revolutionary wave by bringing customers the latest technology products and fully meeting customer expectations and aspirations. Today, Oxygen enjoys the firm loyalty of over 30,00,000 customers.The genesis Oxygen’s triumphant journey began way back in 1999, when it opened shop as Ozone Systems in the hilltown of Kanjirappilly. Since then, there has been no looking back. From the retail and distribution of IT peripherals, the organization grew exponentially with the driving strength of a visionary leadership.OXYGEN the digital shop took birth. Customers were introduced to a stunning range of smartphones, laptops and LED TVs in a world class shopping ambience. The product portfolio expanded to home appliances and Oxygen became perceived as a ‘One Stop Digital Shop’. The shops were manned by highly experienced sales personnel who knew the art of fulfilling customer expectations.Expansion mode Of late, Oxygen has been on an expansion spree. Even when the pandemic struck, Oxygen sensed that it was registering brisk sales and opened new showrooms in new territories. Moreover, it also beefed up its online sales through its e-commerce website coupled with a virtual store, from where customers could see, enquire about and shop their favourite products without leaving the safety of their homes.Customer is King Oxygen has always placed ‘Customer First’ and introduced customer-friendly schemes and initiatives to make digital products more accessible to all. At the same time, it has brought about a distinctive difference for itself by embracing quality and innovation. The brand continues on its ceaseless pursuit of excellence, with the latest technologies pulsating at its heart!</p>
</body>
</html>
