
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Student</title>
</head>
<body>

  <ul>
    <li>ID: <%= studentData.id %></li>
    <li>Name: <%= studentData.name %></li>
    <li>Age: <%= studentData.age %></li>
    <li>Grade: <%= studentData.grade %></li>
  </ul>
</body>
</html>
